{% extends 'base.html' %}
{% load static %}
{% load cart_template_tag %}
{% load crispy_forms_tags %}



{% comment %}
<form method = "post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
</form>
{% endcomment %}
{% comment  %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title Page-->
    <title>Register Form</title>

    
</head>

<body>
    <div class="page-wrapper bg-gra-01 p-t-180 p-b-100 font-poppins">
        <div class="wrapper wrapper--w780">
            <div class="card card-3">
                <div class="card-heading"></div>
                <div class="card-body">
                    <h2 class="title">Registration Info</h2>
                    <form method="post">
					{% csrf_token %}
					<div class="input">
						{{form.username|as_crispy_field}}
					</div>
					<div class="input">
						{{form.email|as_crispy_field}}
					</div>
					<div class="input">
						{{form.password|as_crispy_field}}
					</div>
					<div class="p-t-10">
						<button class="btn btn--pill btn--green" type="submit">Submit</button>
					</div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery JS-->
    <script src="{% static '/register/vendor/jquery/jquery.min.js' %}"></script>
    <!-- Vendor JS-->
    <script src="{% static '/register/vendor/select2/select2.min.js' %}"></script>
    <script src="{% static '/register/vendor/datepicker/moment.min.js' %}"></script>
    <script src="{% static '/register/vendor/datepicker/daterangepicker.js' %}"></script>

    <!-- Main JS-->
    <script src="{% static '/register/js/global.js' %}"></script>

</body>

</html>
<!-- end document-->
{% endblock content %}
{% endcomment %}


{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title Page-->
    <title>Register Form</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="{% static '/asset/img/apple-icon.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static '/asset/img/favicon.png' %}">

    <link rel="stylesheet" href="{% static '/asset/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/asset/css/templatemo.css' %}">
    <link rel="stylesheet" href="{% static '/asset/css/custom.css' %}">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="{% static '/asset/css/fontawesome.min.css' %}">
    
</head>

<body>
    <!-- Header -->
	<nav class="navbar navbar-expand-lg navbar-light shadow">
		<div class="container d-flex justify-content-between align-items-center">

			<a class="navbar-brand text-success logo h1 align-self-center" href="index.html">
				Mr. Ecommerce
			</a>

			<button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="templatemo_main_nav">
				<div class="flex-fill">
					<ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
						<li class="nav-item">
							<a class="nav-link" href="{% url 'index' %}">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'about' %}">About</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'shop' %}">Shop</a>
						</li>
						{% if user.is_authenticated %}
						<li class="nav-item">
						  <a class="nav-link" href="{% url 'profile' %}">{{user.username}}</a>
					  </li>
						{% else %}
						<li class="nav-item">
						  <a class="nav-link" href="{% url 'login' %}">Login</a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link" href="{% url 'register' %}">Register</a>
					</li>
						{% endif %}
					</ul>
				</div>
				<div class="navbar align-self-center d-flex">
					<div class="d-lg-none flex-sm-fill mt-3 mb-4 col-7 col-sm-auto pr-3">
						<div class="input-group">
							<input type="text" class="form-control" id="inputMobileSearch" placeholder="Search ...">
							<div class="input-group-text">
								<i class="fa fa-fw fa-search"></i>
							</div>
						</div>
					</div>
					<a class="nav-icon d-none d-lg-inline" href="#" data-bs-toggle="modal" data-bs-target="#templatemo_search">
						<i class="fa fa-fw fa-search text-dark mr-2"></i>
					</a>
					{% if user.is_authenticated %}
					<a class="nav-icon position-relative text-decoration-none" href="#">
						<i class="fa fa-fw fa-cart-arrow-down text-dark mr-1"></i>
						<span class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark">{{ request.user | cart_item_count }}</span>
					</a>
					{% endif %}
				</div>
			</div>

		</div>
	</nav>
	<!-- Close Header -->
<form action="{% url 'register'  %}" method="POST">
    <div class="page-wrapper bg-gra-01 p-t-180 p-b-100 font-poppins">
        <div class="wrapper wrapper--w780">
            <div class="card card-3">
                <div class="card-heading"></div>
                <div class="card-body">
                    <h2 class="title">Registration Info</h2>

    {% csrf_token %}
    <label for="">Email:</label>
    <br>
    <input type="email" name="email">
    <br>
    <label for="">Username:</label>
    <br>
    <input type="text" name="username">
    <br>
    <label for="">Password:</label>
    <br>
    <input type="password" name="password">
    <br>
    <br>
    <button class="btn btn--pill btn--green" type="submit">Submit</button>
</form>
</div>
</div>
</div>
</div>
<div class="">
    {% for message in messages %}
    <span> {{message}}</span>
    {% endfor %}
</div>
 <!-- Start Footer -->
 <footer class="bg-dark" id="tempaltemo_footer">
    <div class="container">
        <div class="row">

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-success border-bottom pb-3 border-light logo">Mr. Ecommerce</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li>
                        <i class="fas fa-map-marker-alt fa-fw"></i>
                        123 Consectetur at ligula 10660
                    </li>
                    <li>
                        <i class="fa fa-phone fa-fw"></i>
                        <a class="text-decoration-none" href="tel:010-020-0340">010-020-0340</a>
                    </li>
                    <li>
                        <i class="fa fa-envelope fa-fw"></i>
                        <a class="text-decoration-none" href="mailto:info@company.com">askme@mrecommerce.com</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-light border-bottom pb-3 border-light">Products</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li><a class="text-decoration-none" href="#">Laptops</a></li>
                    <li><a class="text-decoration-none" href="#">Headphones</a></li>
                    <li><a class="text-decoration-none" href="#">Smartwatches</a></li>
                    <li><a class="text-decoration-none" href="#">Smartphones</a></li>
                    <li><a class="text-decoration-none" href="#">Televisions</a></li>
                    <li><a class="text-decoration-none" href="#">Shoes</a></li>
                    <li><a class="text-decoration-none" href="#">Clothes</a></li>
                </ul>
            </div>

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-light border-bottom pb-3 border-light">Further Info</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li><a class="text-decoration-none" href="#">Home</a></li>
                    <li><a class="text-decoration-none" href="#">About Us</a></li>
                    <li><a class="text-decoration-none" href="#">Contact</a></li>
                </ul>
            </div>

        </div>

        <div class="row text-light mb-4">
            <div class="col-12 mb-3">
                <div class="w-100 my-3 border-top border-light"></div>
            </div>
            <div class="col-auto me-auto">
                <ul class="list-inline text-left footer-icons">
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href="http://facebook.com/"><i class="fab fa-facebook-f fa-lg fa-fw"></i></a>
                    </li>
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href="https://www.instagram.com/"><i class="fab fa-instagram fa-lg fa-fw"></i></a>
                    </li>
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href="https://twitter.com/"><i class="fab fa-twitter fa-lg fa-fw"></i></a>
                    </li>
                    <li class="list-inline-item border border-light rounded-circle text-center">
                        <a class="text-light text-decoration-none" target="_blank" href="https://www.linkedin.com/"><i class="fab fa-linkedin fa-lg fa-fw"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="w-100 bg-black py-3">
        <div class="container">
            <div class="row pt-2">
                <div class="col-12">
                    <p class="text-left text-light">
                        Copyright &copy; 2021 Company Name 
                        | Designed by <a rel="sponsored" href="#" target="_blank">RushabhShah</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

</footer>
<!-- End Footer -->
<!-- Start Script -->
<script src="{% static '/asset/js/jquery-1.11.0.min.js' %}"></script>
<script src="{% static '/asset/js/jquery-migrate-1.2.1.min.js' %}"></script>
<script src="{% static '/asset/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static '/asset/js/templatemo.js' %}"></script>
<script src="{% static '/asset/js/custom.js' %}"></script>
<!-- End Script -->

<!-- Jquery JS-->
<script src="{% static '/register/vendor/jquery/jquery.min.js' %}"></script>
<!-- Vendor JS-->
<script src="{% static '/register/vendor/select2/select2.min.js' %}"></script>
<script src="{% static '/register/vendor/datepicker/moment.min.js' %}"></script>
<script src="{% static '/register/vendor/datepicker/daterangepicker.js' %}"></script>

<!-- Main JS-->
<script src="{% static '/register/js/global.js' %}"></script>

</body>

</html>
{% endblock content %}